# Please sort into logical groups with comment headers. Sort groups in order of specificity.
# For example, default owners should always be the first group.
# Sort lines alphabetically within these groups to avoid accidentally adding duplicates.
#
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# BRE for publish workflow changes
.github/workflows/publish-*.yml @bitwarden/dept-bre

# Shared workflows ownership

## Multiple owners
.github/workflows/build-android.yml
.github/workflows/build-rust-crates.yml
.github/workflows/build-swift.yml
.github/workflows/build-wasm-internal.yml
.github/workflows/release-rust-crates.yml
.github/workflows/release-swift.yml
.github/workflows/version-bump.yml

# Secrets Manager team
crates/bitwarden-sm @bitwarden/team-secrets-manager-dev
