# Please sort into logical groups with comment headers. Sort groups in order of specificity.
# For example, default owners should always be the first group.
# Sort lines alphabetically within these groups to avoid accidentally adding duplicates.
#
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# BRE for publish workflow changes
.github/workflows/publish-*.yml @bitwarden/dept-bre
.github/workflows/release-rust-crates.yml @bitwarden/dept-bre
.github/workflows/release-swift.yml @bitwarden/dept-bre

## Multiple owners
.github/workflows/build-* @bitwarden/team-platform-dev
.github/workflows/version-bump.yml @bitwarden/team-platform-dev
