/target
.DS_Store
.pytest_cache
.vscode/c_cpp_properties.json

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Oo]bj/
*.wasm

# Binary files
*.dylib
*.a
*.so
*.dll
*.class

# Editor directories and files
.idea
xcuserdata/

# Added by cargo
#
# already existing elements were commented out

#/target
node_modules/

# Third party license
THIRDPARTY.html

# Uniffi
languages/swift/BitwardenFFI.xcframework
languages/swift/tmp
languages/swift/.build
languages/swift/.swiftpm
languages/kotlin/sdk/src/main/java/com/bitwarden/**/*.kt
