target
languages/*
!languages/js
languages/js/*
!languages/js/sdk-internal
languages/js/sdk-internal/bitwarden_wasm_internal_bg.wasm.js
schemas
about.hbs

# Test fixtures
crates/bitwarden-exporters/resources/*
