target
schemas
about.hbs

# Language bindings
crates/bitwarden-wasm-internal/npm/bitwarden_wasm_internal_bg.wasm.js
crates/bitwarden-uniffi/kotlin/*
crates/bitwarden-uniffi/swift/*

# Test fixtures
crates/bitwarden-exporters/resources/*
